@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
.slider {
  overflow: hidden;
  position: relative;
}

.slide-track {
  display: flex;
  width: calc(420px * 12); /* card width × total cards */
  animation: scroll 30s linear infinite;
}

.slide-card {
  width: 380px;
  min-width: 380px;
  margin: 0 16px;
  background: white;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}